//======================== COLORS HERE ========================
//================================================================

$color-global-positive:									#eee;
$color-global-negative:									#000000;
$color-global-dark:										#071637;
$color-global-light:									#B5CCF7;
$color-global-middle:									#264580;
$color-global-middle-light:								#6D9AD4;

$color-flag-1:											#E8557A;
$color-flag-2:											#FFA180;
$color-flag-3:											#17979C;
$color-flag-4:											#10ACE1;
