//======================== COLORS HERE ========================
//================================================================

$color-global-positive:									#eee;
$color-global-negative:									#000000;
$color-global-dark:										#43425D;
$color-global-light:									#F0F0F7;
$color-global-middle-light:								#CEFC34;
$color-global-middle:									#4CD964;

$color-flag-1:											#E8557A;
$color-flag-2:											#FFA180;
$color-flag-3:											#17979C;
$color-flag-4:											#10ACE1;
