.u-pos {

	&-absolute {
		position: absolute;
	}

	&-fixed {
		position: fixed;
	}

	&-relative {
		position: relative;
	}

	&--top-gutter {
		top: 60px;
	}

	&--left-gutter {
		left: 20px;
	}

	&--right-gutter {
		right: 20px;
	}

}

.u-z-index {
	&--above {
		z-index: 9;
	}

	&--above-max {
		z-index: 99999;
	}
}
