//======================== OBJECTS HERE ========================
//================================================================

.map-container {
	width: $full;
	height: $full;
	top: $zero;
	left: $zero;
	z-index: map-get($z-indexs, ground);
}

.marker {
	@include middle;

	width: $marker-size-width;
	height: $marker-size-height;
	background-color: #000;
	border: 2px solid #fff;
	border-radius: 100%;
	user-select: none;

	&:hover {
		z-index: $one;
	}
}

.title-container {
	@include centerer;
	@include text-align(center);
	@include border-radius-side($zero, $zero, $inner-gutter, $inner-gutter);

	box-shadow: 0px -2px 20px 0px rgba(255,255,255,.5);
	width: $half;
	z-index: map-get($z-indexs, above);
	position: fixed;
	top: $zero;
	background: $color-global-dark;
	padding: $inner-gutter;
	color: $color-global-positive;

	&__text {
		font-size: 1.2em;
		vertical-align: middle;
		font-weight: 600;
	}
	
	&__icon {
		@include text-align(left);
		cursor: pointer;
		font-size: 1.2em;

		&--alt {
			@include text-align(right);
		}
	}
}

.side-container {
	width: $side-container-width;
	max-width: $side-container-width;
	background: $color-global-dark;
	height: 100%;
	position: fixed;
	top: $zero;
	z-index: map-get($z-indexs, above);
	transition: all 0.2s;

	&--left {
		@include text-align(center);
		left: $zero;
		box-shadow: 2px 2px 5px 0px rgba(255,255,255,.5);
	}

	&--right {
		@include text-align(center);
		right: $zero;
		box-shadow: -2px -2px 5px 0px rgba(255,255,255,.5);
	}

	.side-bar {
		position: relative;

		&-toggle {
			position: absolute;
			top: $inner-gutter;
			color: $color-global-positive;
			font-size: 1.5em;
			cursor: pointer;
			z-index: map-get($z-indexs, above-all);

			&--left {
				right: $inner-gutter;
			}
	
			&--right {
				left: $inner-gutter;
			}
		}
		&__content {
			width: $full;
			position: relative;
		}

		&__item {
			&:first-of-type {
				@include margin($inner-gutter--tripple, $inner-gutter, $zero, $zero);
			}

			&:hover {
				background: $color-global-light;
				border-color: $color-global-light;
				color: $color-global-dark;
			}

			@include center(horizontal, relative);
			@include border-radius($inner-gutter--half);
			@include margin($inner-gutter--half, $inner-gutter, $zero, $zero);

			padding: $inner-gutter--quarter;
			display: block;
			color: $color-global-positive;
			font-size: 1.2em;
			border: 2px solid white;
			cursor: pointer;
			transition: all 0.2s;
		}
	}
}

.rotate--180 {
	transform: rotate(180deg);
}

.bottom-carousel {
	bottom: 0;
	height: $side-container-width;
	width: $full;
	background: $color-global-dark;
	z-index: map-get($z-indexs, above-all);
	position: fixed;
}

.btn {
	&__primary {
		@include padding($inner-gutter--half, $inner-gutter--half, $inner-gutter--half, $inner-gutter--half);
		@include border-radius($inner-gutter--quarter);

		color: $color-global-dark;
		font-size: 1em;
		font-weight: 600;
		letter-spacing: 1.2px;
		border: 2px solid $color-global-dark;
		background: transparent;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			background: $color-global-light;
			border-color: $color-global-light;
			color: $color-global-dark;
		}
	}
}

// SASS variable for media query breakpoint
$breakpoint-desktop: 991px;

// Resetting default styles
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

// Fix for jumping arrows
.carousel-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 210px;
}

.carousel {
	@include margin($inner-gutter, $zero, $zero, $zero);
	@include center(horizontal, relative);
	position: relative;
}

// Carousel slides
.carousel__slide {
	margin-right: auto;
	margin-left: auto;
	display: none;
	max-width: 100%;
	width: 500px;
	list-style-type: none;
	text-align: center;
	min-height: 125px;
	height: 125px;
	transition: all 0.2s;

	@media (max-width: 991px) {
		padding-right: 60px;
		padding-left: 60px;
		width: 375px;
	}

	@media (max-width: 768px) {
		width: 300px;
	}

	&--active {
		display: block;
	}

	&--item {
		@include border-radius($inner-gutter--half);
		@include center(horizontal, relative);

		min-width: 300px;
		min-height: 100%;
		width: 70%;
		min-height: 100%;
		background: $color-global-light;
		display: block;
		border: 3px solid $color-flag-1;

		&-title {
			display: block;
			color: $color-global-negative;
			font-size: 1em;
			font-weight: 600;
			font-style: italic;
			margin-top: $inner-gutter--quarter;

			.fa {
				font-size: 1em;
				color: $color-global-negative;
			}
		}

		&-value {
			@include text-align(left);
			@include padding($inner-gutter--half, $zero, $zero, $inner-gutter--half);

			font-size: 2em;
			font-weight: 700;
			font-style: italic;
		}

		&-date {
			position: absolute;
			bottom: $inner-gutter--half;
			left: $inner-gutter--half;

			.fa {
				margin-right: $inner-gutter--half;
			}
		}
	}
}

// Content of slides
.carousel-slide__content {
	margin-bottom: 19px;
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
	font-size: 16px;

	@media (max-width: $breakpoint-desktop - 1px) {
		font-size: 18px;
	}
}

.carousel-slide__author,
.carousel-slide__source {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;

	@media (min-width: $breakpoint-desktop) {
		font-size: 16px;
	}
}

.carousel-slide__source {
	font-style: italic;
	color: $color-global-light;
}

// Carousel arrows
.carousel__arrow {
	position: absolute;
	top: 50%;
	display: block;
	color: red;
	cursor: pointer;
	opacity: .75;
	transform: translateY(-50%);
	transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
	z-index: map-get($z-indexs, above-all);

	&:focus {
		outline: 0;
	}

	&:hover {
		opacity: .5;
	}

	&--left {
		left: 32px;
	}

	&--right {
		right: 32px;
	}
}

// Carousel indicators
.carousel__indicators {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;

	li {
		&:nth-of-type(n + 2) {
		margin-left: 9px;
		}
	}
}

.carousel__indicator {
	display: block;
	width: 24px;
	height: 3px;
	background-color: $color-global-light;
	cursor: pointer;
	opacity: .15;
	transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

	&:hover {
		opacity: .5;
	}

	&--active {
		&,
		&:hover {
			opacity: .75;
		}
	}
}

.modal-overlay {
	// background: opacity($color-global-dark, 30%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: map-get($z-indexs, max-above);
	background: rgba($color-global-negative, .8);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s linear;

	&--open {
		visibility: visible;
		opacity: 1;
	}
}

.modal {
	@include center(horizontal, absolute);
	@include border-radius-side($zero, $zero, $inner-gutter, $inner-gutter);
	@include padding($zero, $zero, $inner-gutter--double, $zero);

	box-shadow: 0px -2px 20px 0px rgba(255,255,255,.5);
	top: $inner-gutter;
	width: 90%;
	max-width: 768px;
	background: white;

	&__title {
		@include border-radius-side($zero, $zero, $inner-gutter, $inner-gutter);
		@include text-align(center);
		@include padding($inner-gutter, $inner-gutter, $inner-gutter, $inner-gutter);

		background: $color-global-dark;
		color: $color-global-light;		
		font-size: 1.2em;
	}

	&__close--btn {
		position: absolute;
		right: $inner-gutter--half;
		top: $inner-gutter--half;
		cursor: pointer;

		&:hover {
			color: $color-global-positive;
		}
	}

	&__form {
		display: block;
		@include margin($inner-gutter, $zero, $zero, $zero);
		@include text-align(center);

		&--input {
			@include margin($inner-gutter--half, $zero, $zero, $zero);
			@include center(horizontal, relative);

			input {
				@include padding($inner-gutter--quarter, $inner-gutter--quarter, $inner-gutter--quarter, $inner-gutter--half);
				@include border-radius($inner-gutter--quarter);

				border: 2px solid $color-global-dark;
				width: 35%;
				min-width: 250px;
				outline-style:none;
			}
		}
	}
}