//======================== OBJECTS HERE ========================
//================================================================

.map-container {
	width: $full;
	height: $full;
	top: $zero;
	left: $zero;
	z-index: map-get($z-indexs, ground);
}

.marker {
	@include middle;

	width: $marker-size-width;
	height: $marker-size-height;
	background-color: #000;
	border: 2px solid #fff;
	border-radius: 100%;
	user-select: none;

	&:hover {
		z-index: $one;
	}
}

.title-container {
	@include centerer;
	@include text-align(center);
	@include border-radius-side($zero, $zero, $inner-gutter, $inner-gutter);

	box-shadow: 0px -2px 20px 0px rgba(255,255,255,.5);
	width: $half;
	z-index: map-get($z-indexs, above);
	position: fixed;
	top: $zero;
	background: $color-global-dark;
	padding: $inner-gutter;
	color: $color-global-positive;

	&__text {
		font-size: 1.2em;
		vertical-align: middle;
		font-weight: 600;

		img {
			width: 100%;
			max-width: 125px;
		}
	}

	&__icon {
		@include text-align(left);
		cursor: pointer;
		font-size: 1.2em;

		&--alt {
			@include text-align(right);
		}
	}
}

.side-container {
	width: $side-container-width;
	max-width: $side-container-width;
	background: url("../assets/grey-paper-texture.jpg");
	background-repeat: repeat;
	height: 100%;
	position: fixed;
	top: $zero;
	z-index: map-get($z-indexs, above);
	transition: all 0.2s;

	&--left {
		@include text-align(center);
		left: $zero;
		box-shadow: 2px 2px 5px 0px rgba(255,255,255,.5);
	}

	&--right {
		@include text-align(center);
		right: $zero;
		box-shadow: -2px -2px 5px 0px rgba(255,255,255,.5);
	}

	.side-bar {
		position: relative;

		&-toggle {
			position: absolute;
			top: $inner-gutter--half;
			color: $color-global-dark;
			font-size: 1.5em;
			cursor: pointer;
			z-index: map-get($z-indexs, above-all);

			&--left {
				right: $inner-gutter;
			}

			&--right {
				left: $inner-gutter;
			}
		}
		&__content {
			width: $full;
			position: relative;
		}

		&__menu--header {
			font-size: 1.4em;
			font-weight: 800;
			border-bottom: $inner-gutter--quarter solid $color-global-middle;
			padding-top: $inner-gutter--double;
			padding-bottom: $inner-gutter--quarter;
			margin-bottom: $inner-gutter--double;
			color: $color-global-dark;

			span {
				color: $color-global-middle;
			}
		}

		&__menu--footer {
			position: absolute;
			bottom: $inner-gutter;
			left: $inner-gutter;
			color: $color-flag-1;
			font-size: 1.2em;
			font-weight: 600;
			transition: all .2s;
			cursor: pointer;

			&:hover {
				color: $color-global-dark;
				.fa {
					color: $color-global-dark;
				}
			}

			.fa {
				color: $color-flag-1;
				transition: all .2s;
			}
		}

		&__menu--item {
			list-style-type: none;
			cursor: pointer;
			text-align: left;
			margin-left: $inner-gutter;
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: $inner-gutter;
			position: relative;
			transition: all .2s;
			color: $color-global-dark;

			&:hover {
				color: $color-global-middle;
			}

			&.active {
				margin-left: $inner-gutter--double;
				color: $color-global-middle;

				&:before {
					margin-left: $inner-gutter--half;
					position: absolute;
					left: -40px;
					top: 50%;
					transform: translateY(-50%);
					content: "";
					width: 25px;
					height: $inner-gutter--quarter;
					background-color: $color-global-middle;
				}
			}
		}

		&__item {
			&:first-of-type {
				@include margin($inner-gutter--tripple, $inner-gutter, $zero, $zero);
			}

			&:hover {
				background: $color-global-light;
				border-color: $color-global-light;
				color: $color-global-dark;
			}

			@include center(horizontal, relative);
			@include border-radius($inner-gutter--half);
			@include margin($inner-gutter--half, $inner-gutter, $zero, $zero);

			padding: $inner-gutter--quarter;
			display: block;
			color: $color-global-positive;
			font-size: 1.2em;
			border: 2px solid white;
			cursor: pointer;
			transition: all 0.2s;
		}
	}
}

.rotate--180 {
	transform: rotate(180deg);
}

.bottom-carousel {
	bottom: 0;
	height: $side-container-width;
	width: $full;
	background: $color-global-dark;
	z-index: map-get($z-indexs, above-all);
	position: fixed;
}

.btn {
	&__primary {
		@include padding($inner-gutter--half, $inner-gutter--half, $inner-gutter--half, $inner-gutter--half);
		@include border-radius($inner-gutter--quarter);

		color: $color-global-dark;
		font-size: 1em;
		font-weight: 600;
		letter-spacing: 1.2px;
		border: 2px solid $color-global-dark;
		background: transparent;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			background: $color-global-light;
			border-color: $color-global-light;
			color: $color-global-dark;
		}
	}
}

// SASS variable for media query breakpoint
$breakpoint-desktop: 991px;

// Resetting default styles
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

// Fix for jumping arrows
.carousel-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 210px;
}

.carousel {
	@include margin($inner-gutter, $zero, $zero, $zero);
	@include center(horizontal, relative);
	position: relative;
}

// Carousel slides
.carousel__slide {
	margin-right: auto;
	margin-left: auto;
	display: none;
	max-width: 100%;
	width: 500px;
	list-style-type: none;
	text-align: center;
	min-height: 125px;
	height: 125px;
	transition: all 0.2s;

	@media (max-width: 991px) {
		padding-right: 60px;
		padding-left: 60px;
		width: 375px;
	}

	@media (max-width: 768px) {
		width: 300px;
	}

	&--active {
		display: block;
	}

	&--item {
		@include border-radius($inner-gutter--half);
		@include center(horizontal, relative);

		min-width: 300px;
		min-height: 100%;
		width: 70%;
		min-height: 100%;
		background: $color-global-light;
		display: block;
		border: 3px solid $color-flag-1;

		&-title {
			display: block;
			color: $color-global-negative;
			font-size: 1em;
			font-weight: 600;
			font-style: italic;
			margin-top: $inner-gutter--quarter;

			.fa {
				font-size: 1em;
				color: $color-global-negative;
			}
		}

		&-value {
			@include text-align(left);
			@include padding($inner-gutter--half, $zero, $zero, $inner-gutter--half);

			font-size: 2em;
			font-weight: 700;
			font-style: italic;
		}

		&-date {
			position: absolute;
			bottom: $inner-gutter--half;
			left: $inner-gutter--half;

			.fa {
				margin-right: $inner-gutter--half;
			}
		}
	}
}

// Content of slides
.carousel-slide__content {
	margin-bottom: 19px;
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
	font-size: 16px;

	@media (max-width: $breakpoint-desktop - 1px) {
		font-size: 18px;
	}
}

.carousel-slide__author,
.carousel-slide__source {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;

	@media (min-width: $breakpoint-desktop) {
		font-size: 16px;
	}
}

.carousel-slide__source {
	font-style: italic;
	color: $color-global-light;
}

// Carousel arrows
.carousel__arrow {
	position: absolute;
	top: 50%;
	display: block;
	color: red;
	cursor: pointer;
	opacity: .75;
	transform: translateY(-50%);
	transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
	z-index: map-get($z-indexs, above-all);

	&:focus {
		outline: 0;
	}

	&:hover {
		opacity: .5;
	}

	&--left {
		left: 32px;
	}

	&--right {
		right: 32px;
	}
}

// Carousel indicators
.carousel__indicators {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;

	li {
		&:nth-of-type(n + 2) {
		margin-left: 9px;
		}
	}
}

.carousel__indicator {
	display: block;
	width: 24px;
	height: 3px;
	background-color: $color-global-light;
	cursor: pointer;
	opacity: .15;
	transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

	&:hover {
		opacity: .5;
	}

	&--active {
		&,
		&:hover {
			opacity: .75;
		}
	}
}

.modal-overlay {
	// background: opacity($color-global-dark, 30%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: map-get($z-indexs, max-above);
	background: rgba($color-global-negative, .8);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s linear;

	&--open {
		visibility: visible;
		opacity: 1;
	}
}

.modal {
	@include center(horizontal, absolute);
	@include border-radius-side($zero, $zero, $inner-gutter, $inner-gutter);
	@include padding($zero, $zero, $inner-gutter--double, $zero);

	box-shadow: 0px -2px 20px 0px rgba(255,255,255,.5);
	top: $inner-gutter;
	width: 90%;
	max-width: 768px;
	background: white;

	&__title {
		@include border-radius-side($zero, $zero, $inner-gutter, $inner-gutter);
		@include text-align(center);
		@include padding($inner-gutter, $inner-gutter, $inner-gutter, $inner-gutter);

		background: $color-global-dark;
		color: $color-global-light;
		font-size: 1.2em;
	}

	&__close--btn {
		position: absolute;
		right: $inner-gutter--half;
		top: $inner-gutter--half;
		cursor: pointer;

		&:hover {
			color: $color-global-positive;
		}
	}

	&__form {
		display: block;
		@include margin($inner-gutter, $zero, $zero, $zero);
		@include text-align(center);

		&--input {
			@include margin($inner-gutter--half, $zero, $zero, $zero);
			@include center(horizontal, relative);

			input {
				@include padding($inner-gutter--quarter, $inner-gutter--quarter, $inner-gutter--quarter, $inner-gutter--half);
				@include border-radius($inner-gutter--quarter);

				border: 2px solid $color-global-dark;
				width: 35%;
				min-width: 250px;
				outline-style:none;
			}
		}
	}
}

.splashscreen {
	&__buttons {
		z-index: map-get($z-indexs, above-all);
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);


		.button-primary {
			@include margin($inner-gutter--quarter, $inner-gutter--quarter, $inner-gutter--quarter, $inner-gutter--quarter);
		}
	}
	&-wrapper {
		display: flex;
		flex-direction: row;

		.col {
			flex: 50%;
			height: 100%;
			min-height: 937px;
			overflow: hidden;
			position: relative;
		}

		.form-wrapper {
			background: url("../assets/grey-paper-texture.jpg");
			background-repeat: repeat;
		}
	}

	&-wrapper__bg {
		/* Location of the image */
		background-image: url("../assets/Capture.PNG");

		/* Background image is centered vertically and horizontally at all times */
		background-position: center;

		/* Background image doesn't tile */
		background-repeat: no-repeat;

		/* Background image is fixed in the viewport so that it doesn't move when
			the content's height is greater than the image's height */
		background-attachment: fixed;

		/* This is what makes the background image rescale based
			on the container's size */
		background-size: cover;

		/* Set a background color that will be displayed
			while the background image is loading */
		background-color: #464646;
	}

	&__overlay {
		width: $full;
		height: $full;
		background-color: rgba($color-global-dark, .5);
		position: absolute;
		top: $zero;
		left: $zero;
		overflow: hidden;
		z-index: map-get($z-indexs, above);
	}
}

@media screen and (max-width: 768px) {
	.splashscreen-wrapper:not(.splashscreen-no-reverse) {
		flex-direction: column-reverse;

		.col {
			min-height: $splash-screen-mobile-height-max;
			max-height: $splash-screen-mobile-height-max;
		}
	}

	.splashscreen-wrapper.splashscreen-no-reverse {
		flex-direction: column;

		.col {
			min-height: $splash-screen-mobile-height-max;
			max-height: $splash-screen-mobile-height-max;
		}
	}
}

.pulse {
	@include text-align(center);

	z-index: map-get($z-indexs, above-all);
	display: block;
	border-radius: 50%;
	background: rgba($color-global-dark, 0.4);
	cursor: pointer;
	box-shadow: 0 0 0 rgba($color-global-dark, 0.4);
	animation: pulse 2s infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 350px;
	transform: translate(-50%, -50%);

	img {
		width: 320px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
.pulse:hover {
	animation: none;
}

@media screen and (max-width: 768px) {
	.splashscreen-wrapper__homepage {
		.pulse {
			top: 30%;
		}
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba($color-global-dark, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 30px rgba($color-global-dark, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba($color-global-dark, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba($color-global-dark, 0.4);
		box-shadow: 0 0 0 0 rgba($color-global-dark, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 30px rgba($color-global-dark, 0);
		box-shadow: 0 0 0 30px rgba($color-global-dark, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba($color-global-dark, 0);
		box-shadow: 0 0 0 0 rgba($color-global-dark, 0);
	}
}

@media screen and (max-width: 768px) {
	.pulse {
		width: 250px;
		height: 250px;

		img {
			width: 220px;
		}
	}
}

.form-user {
	@include center(both, absolute);
	width: 70%;
	padding: $inner-gutter--double;

	&__title {
		font-size: 2.5em;
		font-weight: 900;
		text-align: center;
		color: $color-global-dark;
		letter-spacing: 1px;
	}

	&__description {
		font-size: 1em;
		font-weight: normal;
		text-align: center;
		color: $color-global-dark;
		letter-spacing: 1px;
	}

	&__input-holder {
		@include margin($inner-gutter--double, $zero, $zero, $zero);
	}

	&__input {
		@include margin($inner-gutter, $zero, $inner-gutter, $zero);


		input {
			@include padding($inner-gutter--half, $inner-gutter--half, $inner-gutter--half, $inner-gutter--half);
			width: $full;
			border: none;
			border-bottom: 3px solid $color-global-dark;
			outline: none;
			background: transparent;
			color: $color-global-dark;
			font-weight: 600;
			letter-spacing: 1px;
			transition: all .3s;

			&::placeholder {
				color: $color-global-dark;
				font-weight: 600;
			}

			&:focus {
				color: $color-global-middle;
				border-color: $color-global-middle;

				.form-user__input input::placeholder {
					color: $color-global-middle;
				}
			}
		}

		&--large {
			margin: 0 auto;
			text-align: center;

			input {
				width: 75px;
				height: 75px;
				border: 2px solid $color-global-middle;
				font-size: 3em;
				text-align: center;
				margin-left: $inner-gutter;
			}
		}
	}

	&__checkbox {
		margin-bottom: $inner-gutter--double;
		label {
			.css-checkbox {
				@include css-checkbox(18px, $selectedColor: $color-global-middle);
			}
		}

		&--text{
			display: inline-block;
			margin-left: $inner-gutter--half;
		}
	}

	&__message {
		&--success,
		&--bad {
			text-align: center;

			.fa {
				font-size: 4em;
			}
		}

		&--success {
			.fa {
				color: $color-global-middle;
			}

			.button-primary {
				margin-top: $inner-gutter;
			}
		}

		&--bad {
			.fa {
				color: $color-flag-1;
			}
		}
	}

	&__input--button {
		text-align: center;
		margin-top: $inner-gutter--double;
	}

	&__loading {
		text-align: center;
	}

	// css checkbox


}

.button-primary {
	@include padding($inner-gutter--half, $inner-gutter--half, $inner-gutter--half, $inner-gutter--half);
	@include border-radius($button-primary-border-radius);

	width: $button-primary-width;
	color: $color-global-positive;
	background-color: $color-global-middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	border: 2px solid $color-global-middle;
	transition: all .3s;
	cursor: pointer;
	outline: $zero;

	&:hover {
		background-color: $color-global-positive;
		color: $color-global-dark;
	}

	&--alt {
		background-color: $color-global-positive;
		color: $color-global-dark;

		&:hover {
			color: $color-global-positive;
			background-color: $color-global-middle;
		}
	}
}

.o-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.o-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid $color-global-middle;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $color-global-middle transparent transparent transparent;
}
.o-ring div:nth-child(1) {
	animation-delay: -0.35s;
}
.o-ring div:nth-child(2) {
	animation-delay: -0.2s;
}
.o-ring div:nth-child(3) {
	animation-delay: -0.05s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.bottom-charts {
	width: calc(100vw - 200px);
	position: absolute;
	height: 250px;
	bottom: $zero;
	left: 200px;
	background: url("../assets/grey-paper-texture.jpg");
	background-repeat: repeat;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;

	.o-chart {
		margin-top: $inner-gutter;
	}

	.chart-holder {
		margin-left: $inner-gutter--half;
		display: inline-block;
		padding: $inner-gutter--half;
		background-color: $color-global-dark;
		color: white;
		height: auto;
		width: 350px;
		margin-top: $inner-gutter;
		padding-left: $inner-gutter;
		position: relative;

		&__title, &__footer {
			display: inline-block;

			&::first-letter {
				color: $color-global-middle;
			}

			font-weight: 600;
			letter-spacing: 1.1px;
			border-bottom: 2px solid $color-global-middle;
		}

		&__footer {
			border: none;
		}
	}
}
