//======================== OBJECTS HERE ========================
//================================================================

.map-container {
	width: $full;
	height: $full;
	top: $zero;
	left: $zero;
	z-index: map-get($z-indexs, ground);
}

.marker {
	@include middle;

	width: $marker-size-width;
	height: $marker-size-height;
	background-color: #000;
	border: 2px solid #fff;
	border-radius: 100%;
	user-select: none;

	&:hover {
		z-index: $one;
	}
}

.title-container {
	@include centerer;
	@include text-align(center);
	@include border-radius-side($zero, $zero, $inner-gutter, $inner-gutter);

	box-shadow: 0px -2px 20px 0px rgba(255,255,255,.5);
	width: $half;
	z-index: map-get($z-indexs, above);
	position: fixed;
	top: $zero;
	background: $color-global-dark;
	padding: $inner-gutter;
	color: $color-global-positive;

	&__text {
		font-size: 1.2em;
		vertical-align: middle;
		font-weight: 600;
	}
	
	&__icon {
		@include text-align(left);
		cursor: pointer;
		font-size: 1.2em;

		&--alt {
			@include text-align(right);
		}
	}
}

.side-container {
	width: $side-container-width;
	max-width: $side-container-width;
	background: $color-global-dark;
	height: 100%;
	position: fixed;
	top: $zero;
	z-index: map-get($z-indexs, above);
	transition: all 0.2s;

	&--left {
		@include text-align(center);
		left: $zero;
		box-shadow: 2px 2px 5px 0px rgba(255,255,255,.5);
	}

	&--right {
		@include text-align(center);
		right: $zero;
		box-shadow: -2px -2px 5px 0px rgba(255,255,255,.5);
	}

	.side-bar {
		position: relative;

		&-toggle {
			position: absolute;
			top: $inner-gutter;
			color: $color-global-positive;
			font-size: 1.5em;
			cursor: pointer;
			z-index: map-get($z-indexs, above-all);

			&--left {
				right: $inner-gutter;
			}
	
			&--right {
				left: $inner-gutter;
			}
		}
		&__content {
			width: $full;
			position: relative;
		}

		&__item {
			&:first-of-type {
				@include margin($inner-gutter--tripple, $inner-gutter, $zero, $zero);
			}

			&:hover {
				background: $color-global-light;
				border-color: $color-global-light;
				color: $color-global-dark;
			}

			@include center(horizontal, relative);
			@include border-radius($inner-gutter--half);
			@include margin($inner-gutter--half, $inner-gutter, $zero, $zero);
			padding: $inner-gutter--quarter;
			display: block;
			color: $color-global-positive;
			font-size: 1.2em;
			border: 2px solid white;
			cursor: pointer;
			transition: all 0.2s;
		}
	}
}

.rotate--180 {
	transform: rotate(180deg);
}

.bottom-carousel {
	bottom: 0;
	height: $side-container-width;
	width: $full;
	background: $color-global-dark;
	z-index: map-get($z-indexs, above-all);
	position: fixed;
}


// SASS variable for media query breakpoint
$breakpoint-desktop: 991px;

// Resetting default styles
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

// Fix for jumping arrows
.carousel-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 210px;
}

.carousel {
	@include margin($inner-gutter, $zero, $zero, $zero);
	@include center(horizontal, relative);
	position: relative;
}

// Carousel slides
.carousel__slide {
	margin-right: auto;
	margin-left: auto;
	display: none;
	max-width: 100%;
	list-style-type: none;
	text-align: center;
	min-height: 125px;

	@media (max-width: 991px) {
		padding-right: 60px;
		padding-left: 60px;
	}

	&--active {
		display: block;
	}

	&--item {
		@include border-radius($inner-gutter--half);
		min-width: 300px;
		min-height: 100%;
		width: 300px;
		height: 100%;
		background: red;
		display: block;
	}
}

// Content of slides
.carousel-slide__content {
	margin-bottom: 19px;
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
	font-size: 16px;

	@media (max-width: $breakpoint-desktop - 1px) {
		font-size: 18px;
	}
}

.carousel-slide__author,
.carousel-slide__source {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;

	@media (min-width: $breakpoint-desktop) {
		font-size: 16px;
	}
}

.carousel-slide__source {
	font-style: italic;
	color: $color-global-light;
}

// Carousel arrows
.carousel__arrow {
	position: absolute;
	top: 50%;
	display: block;
	color: $color-global-light;
	cursor: pointer;
	opacity: .75;
	transform: translateY(-50%);
	transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

	&:focus {
		outline: 0;
	}

	&:hover {
		opacity: .5;
	}

	&--left {
		left: 32px;
	}

	&--right {
		right: 32px;
	}
}

// Carousel indicators
.carousel__indicators {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;

	li {
		&:nth-of-type(n + 2) {
		margin-left: 9px;
		}
	}
}

.carousel__indicator {
	display: block;
	width: 24px;
	height: 3px;
	background-color: $color-global-light;
	cursor: pointer;
	opacity: .15;
	transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

	&:hover {
		opacity: .5;
	}

	&--active {
		&,
		&:hover {
			opacity: .75;
		}
	}
}
