//======================== VARIABLES HERE ========================
//================================================================

$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
		'': 0,
		'-sm': $grid__bp-sm,
		'-md': $grid__bp-md,
		'-lg': $grid__bp-lg,
		'-xl': $grid__bp-xl
);

$full: 100%;
$half: 50%;
$quarter: 25%;
$zero: 0;
$one: 1;

$z-indexs : (
	'above-all':			9999,
	'above':				99,
	'top':					1,
	'ground':				0
);

$inner-gutter:							20px;
$inner-gutter--half:					$inner-gutter / 2;
$inner-gutter--double:					$inner-gutter * 2;
$inner-gutter--quarter:					$inner-gutter / 4;


$marker-size-width:				18px;
$marker-size-height:			$marker-size-width;